@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
}

.divider {
    position: relative;
}

.divider::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('images/cupon-devider.png') ;
}